
body{
    background-image: url(Images/back.jpg);
    background-size: cover;
}

h1{
    color: yellowgreen;
    font-size: 2rem;
}

hr{
    border: 2px solid aliceblue;
    width: 1000px;
}

button{
    background-color:crimson;
    border: 1px solid crimson;
    font-size: 2rem;
    padding: 20px;
    border-radius: 200px;
    color:darkgray;
    margin-top: 42px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}